@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
    background: linear-gradient(to bottom, rgb(0, 123, 66), rgb(255, 255, 255));
    background-image: url("../assets/background5.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #3725a9 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #382d80;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
